body {margin-top:0px;}
#resume_container {width:90%; margin:auto; font-family:Palatino Linotype,Verdana; font-size:13px; margin-top:0px;}
#resume_container h1, #resume_container h2, #resume_footer p  {text-align:center; border-radius:30px;}
#resume_container h1 {background-color:#5a5a5a; color: white; font-weight:bold; font-size:2.5em; padding:4px;}
#resume_container h2 {background-color:#ddd; color: black;}
#resume_container h4 {padding-left:24px; margin-top:0px;}
#edu_cornell {float:left; width:47%; text-align:center;}
#edu_columbia {text-align:center; margin-left:53%;}
#edu_cornell p, #edu_columbia p {margin-top:0px;}
#experience .date {font-weight:normal; font-style:italic;}
#experience p {margin-top:0px;}
#experience div {padding-left:10px;}
#skills_languages {float:left; width:32%; padding-left:10px;}
#skills_languages ul {color:#303030;}
#skills_languages span {color:black;}
#skills_software {float:left; width:28%; padding-left:10px; margin-left:3%;}
#skills_software hr {margin-left:-16px; margin-right:50px;}
#skills_software ul {color:#303030;}
#skills_software span {color:black;}
#skills_misc {margin-left:66%; padding-left:10px;}
#skills_misc ul {color:#303030;}
#skills_misc span {color:black;}
#activities p {text-align:center; padding:5px;}
#resume_footer {clear:both; padding-top:10px;}
#resume_footer p {background-color:#3364c2; color:white; font-weight:bold; padding:5px; margin-top:0px;}
#sitelink {text-align:center;}